# Entorno virtual
venv/
.venv/
**/venv/
**/.venv/
.idea
# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.local

# VSCode
.vscode/

# Node / Next.js
node_modules/
.next/
out/
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
docker-compose.override.yml
.idea/