# Entorno virtual
venv/
.venv/
**/venv/
**/.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Variables de entorno
.env
.env.local

# VSCode
.vscode/

# Node / Next.js
node_modules/
.next/
out/
*.log

# OS
.DS_Store
Thumbs.db